@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Jost:wght@200&display=swap');

*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    
}

header{
    background-color:rgb(34, 66, 124);
    color:white;
    height:140px;
    text-align: center;
    line-height: 140px;
    font-family:"Jost";
}

body{
    background-color:white;
    font-size: 25px;
    font-family: "Jost";
}

.container{
    margin: 0 auto;
    overflow: auto;
    padding: 20px 20px;
    text-align: center;
}

.menu{
    margin: 0 auto;
    overflow: auto;
    padding: 20px 20px;
}

.menu ul{
    font-size:30px;
    border-radius: 10px;
    border: 10px solid rgb(34, 66, 124);
    padding: 20px;
    margin: 30;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    list-style-type: none;
    align-items: center;
}

.menu a:hover{
    color:blue;
}

.title{
    padding: 20px;
    text-align: center;
    font-size: 70px;
    font-weight:bold;
    color:rgb(34, 66, 124);
}

#less-padding{
    padding: 20px 20px 10px;
    text-align: center;
    font-size: 70px;
    font-weight:bold;
    color:rgb(34, 66, 124);
}

.project{
    border:2px solid black;
    padding: 20px;
}

#currentpage{
    border-bottom: 3px solid rgb(34, 66, 124);
    color:rgb(34, 66, 124)
}


.intitule{
    font-weight:700;
    font-size: 40px;
    margin-left: 25px;
    padding-top: 25px;
}

.list{
    padding: 20px;
    margin-left:45px;
}

a{
    text-decoration: none;
    color:black;
}

.ma_tete{
    display:flex;
    padding:25px 50px 0px;
    width: 300px;
    
}

.middle-image{
    padding:25px 50px 0px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.marger{
    margin-left: 25px;
}

.change_lang{
    margin-left: 900px;;
    padding:100px 0px 100px;
}

.change_lang:hover{
    color:blue;
}

